<h1> aWhere API python examples </h1>

In [ ]:
import datetime
import pandas as pd

from __future__ import division
from awhere import Awhere

DATE_FORMAT = '%Y-%m-%d'

# Setup key and sectret in aWhere.py
awhere = Awhere()

<h1> Example: Make single call </h1>

In [ ]:
lat, lon = 10.01, 40.02
awhere.single_call(lat, lon, '2016-02-01', '2017-02-01')

<h1> Batch job for single geo location. Return a dataframe and write to csv </h1>

In [ ]:
lats, lon, title = 10.01, 40.02, 'Woreda1'
dataframe, failed = awhere.fetch_data_single(lat, lon, title, '2016-02-01', '2017-02-01')

#Write to CSV
dataframe.to_csv('data/test_single.csv')

<h1> Batch job for multiple geo location. Return a dataframe and write to csv </h1>

In [ ]:
lats = [1, 2, 3, 4]
lons = [-1, -2, -3, -4]
latlons = zip(lats, lons)
titles = ['geo1', 'geo2', 'geo3', 'geo4']

dataframe, failed = awhere.fetch_data_multiple(latlons, titles, '2016-02-01', '2017-02-01')

#Write to CSV
dataframe.to_csv('data/test_multiple.csv')

<h1> Example: Loop through each geo, make single call and write to csv file </h1>

In [3]:
woreda_df = pd.read_csv('lat_lons/woreda_info.csv', dtype=str)
woreda_df = woreda_df[woreda_df['WoredaLat'].astype(float) != 0]

START_DATE_STR = '2016-01-01'
END_DATE = (datetime.datetime.now() - datetime.timedelta(days=1))
END_DATE_STR = END_DATE.strftime(DATE_FORMAT)

for lat, lon, geokey in woreda_df[['WoredaLat', 'WoredaLon', 'GeoKey']].values[:5]:
    
    dataframe, failures = awhere.fetch_data_single(lat, lon, geokey, START_DATE_STR, END_DATE_STR)
    if len(failures) > 0:
        print 'The following queries failed:' 
        print failures
    # Rename title as the GeoKey
    dataframe.rename(columns={'title': 'GeoKey'}, inplace=True)
    dataframe.to_csv('data/%s.csv' % geokey.replace(' ','_'))

Job status: Queued. Job timer: 0 seconds.
On job 1 out of 1
Job status: Done. Job timer: 5 seconds.
On job 1 out of 1
Completed jobId: 105212
Job status: Running. Job timer: 0 seconds.
On job 1 out of 1
Job status: Done. Job timer: 5 seconds.
On job 1 out of 1
Completed jobId: 105213
Job status: Queued. Job timer: 0 seconds.
On job 1 out of 1
Job status: Done. Job timer: 5 seconds.
On job 1 out of 1
Completed jobId: 105214
Job status: Running. Job timer: 0 seconds.
On job 1 out of 1
Job status: Done. Job timer: 5 seconds.
On job 1 out of 1
Completed jobId: 105215
Job status: Queued. Job timer: 0 seconds.
On job 1 out of 1
Job status: Done. Job timer: 5 seconds.
On job 1 out of 1
Completed jobId: 105216

<h1> Exampe: Make a single batch call for all dates and all geo locations </h1>

In [15]:
woreda_dataframe = pd.read_csv('lat_lons/woreda_info.csv')

latlons = woreda_dataframe[['WoredaLat', 'WoredaLon']]
titles = woreda_dataframe['GeoKey']
latlons

     WoredaLat  WoredaLon
0     9.034698  38.726558
1     8.897286  38.803770
2     9.035681  38.754684
3     8.980035  38.839082
4     9.071479  38.744860
5     9.001004  38.758437
6     9.010225  38.687197
7     9.011481  38.729877
8     8.952101  38.728847
9     9.048984  38.827314
10   11.315658  40.443703
11   11.238993  41.646754
12   11.546636  41.511898
13   13.004549  41.506297
14   11.650498  40.341676
15   11.683414  41.102889
16   12.312935  41.736878
17   12.537056  40.931204
18   11.291285  40.925987
19    0.000000   0.000000
20   13.339392  39.959673
21   13.387169  40.929638
22   13.839481  40.430074
23   14.233859  40.078210
24   13.160895  40.403224
25   13.902930  39.944014
26   13.022925  40.018035
27    9.525948  40.403921
28    9.504936  39.890722
29    0.000000   0.000000
..         ...        ...
813  13.515811  39.464358
814  13.577050  36.772380
815   0.000000   0.000000
816   0.000000   0.000000
817   0.000000   0.000000
818   0.000000   0.000000
819  13.957487  37.994397
820  14.366997  38.198275
821  14.008606  38.445393
822  14.396877  37.772841
823  14.104443  38.286924
824  14.426691  37.789670
825  14.096229  38.285829
826  13.629027  38.160048
827  13.621692  39.225258
828  13.437366  39.555134
829  13.134439  39.579586
830  13.203695  39.173767
831  12.385982  39.512769
832  12.945033  39.421817
833  12.753128  39.450994
834  12.509256  39.519882
835  12.784327  39.542735
836  12.539614  39.381173
837   0.000000   0.000000
838  12.663163  39.743543
839  14.047563  36.934700
840  14.280020  36.615071
841  13.490463  37.056435
842  13.756372  37.395447

[843 rows x 2 columns]

In [6]:
dataframe, failed = awhere.fetch_data_multiple(latlons.values, titles.values, '2016-02-01', '2017-02-01')

dataframe.rename(columns={'title': 'GeoKey'}, inplace=True)
dataframe

,date,humid_max,humid_min,latitude,longitude,precipitation,solar,temp_max,temp_min,GeoKey,wind_avg
0,2016-02-01,76.949997,49.090000,9.034698,38.726559,0.013333,3499.967773,24.120001,13.510000,woreda1,1.345270
1,2016-02-02,83.980003,34.849998,9.034698,38.726559,0.044444,5628.505371,24.170000,10.200000,woreda1,1.340556
2,2016-02-03,65.250000,27.150000,9.034698,38.726559,0.000000,6705.910645,12.480000,12.530000,woreda1,1.245687
3,2016-02-04,59.750000,36.110001,9.034698,38.726559,0.000000,6277.118164,25.049999,22.850000,woreda1,1.191475
4,2016-02-05,79.989998,39.000000,9.034698,38.726559,0.000000,6418.199219,25.150000,14.610000,woreda1,0.991717
5,2016-02-06,60.139999,27.420000,9.034698,38.726559,0.000000,6275.258301,23.700001,13.690000,woreda1,1.025895
6,2016-02-07,63.520000,29.469999,9.034698,38.726559,0.000000,5675.857910,26.959999,13.030000,woreda1,0.884473
7,2016-02-08,63.299999,32.660000,9.034698,38.726559,0.000000,5933.924805,25.309999,16.750000,woreda1,0.912756
8,2016-02-09,83.779999,42.240002,9.034698,38.726559,0.000000,6704.870605,25.620001,12.970000,woreda1,0.929256
9,2016-02-10,75.900002,33.470001,9.034698,38.726559,0.000000,6703.392090,25.820000,15.280000,woreda1,0.789014
10,2016-02-11,64.919998,33.340000,9.034698,38.726559,0.000000,6983.599609,25.790001,12.520000,woreda1,1.427766
11,2016-02-12,70.010002,35.020000,9.034698,38.726559,0.000000,6771.907715,25.750000,11.250000,woreda1,1.356466
12,2016-02-13,71.160004,40.009998,9.034698,38.726559,0.000000,6199.180176,21.700001,11.310000,woreda1,1.120764
13,2016-02-14,71.580002,37.250000,9.034698,38.726559,0.000000,7389.166016,25.750000,13.220000,woreda1,0.885652
14,2016-02-15,62.810001,30.180000,9.034698,38.726559,0.000000,7334.263184,26.730000,15.190000,woreda1,1.038858
15,2016-02-16,67.080002,30.690001,9.034698,38.726559,0.000000,6182.141602,24.379999,14.510000,woreda1,1.245687
16,2016-02-17,61.270000,39.189999,9.034698,38.726559,0.000000,6894.023926,24.680000,13.020000,woreda1,0.924543
17,2016-02-18,60.340000,32.779999,9.034698,38.726559,0.000000,6249.688477,23.900000,13.240000,woreda1,1.114282
18,2016-02-19,68.839996,29.670000,9.034698,38.726559,0.000000,7191.482910,25.370001,15.890000,woreda1,2.305167
19,2016-02-20,72.099998,24.240000,9.034698,38.726559,0.000000,6539.971191,25.900000,14.780000,woreda1,1.835531
20,2016-02-21,52.639999,29.799999,9.034698,38.726559,0.182963,5290.278320,26.200001,12.900000,woreda1,1.295774
21,2016-02-22,48.779999,19.049999,9.034698,38.726559,0.800000,6359.783691,28.270000,12.740000,woreda1,1.155530
22,2016-02-23,50.009998,25.690001,9.034698,38.726559,0.000000,6378.006836,12.290000,14.700000,woreda1,1.383278
23,2016-02-24,73.870003,31.850000,9.034698,38.726559,0.111111,4561.532715,25.760000,20.170000,woreda1,1.465478
24,2016-02-25,76.169998,49.520000,9.034698,38.726559,1.793485,4329.679688,26.340000,16.260000,woreda1,1.052411
25,2016-02-26,91.349998,46.529999,9.034698,38.726559,0.698339,6078.902344,26.000000,15.940000,woreda1,1.134317
26,2016-02-27,87.070000,37.610001,9.034698,38.726559,0.000000,5585.221680,25.680000,12.220000,woreda1,2.025861
27,2016-02-28,72.820000,39.840000,9.034698,38.726559,0.000000,6562.668457,24.809999,12.930000,woreda1,2.630437
28,2016-02-29,65.610001,22.770000,9.034698,38.726559,0.000000,8003.627930,27.090000,25.530001,woreda1,1.942775
29,2016-03-01,56.299999,26.850000,9.034698,38.726559,0.000000,8528.019531,28.910000,17.830000,woreda1,0.938684
...,...,...,...,...,...,...,...,...,...,...,...
337,2017-01-03,89.709999,7.800000,9.034698,38.726559,0.000000,NaN,24.510000,6.200000,woreda1,4.600000
338,2017-01-04,49.790001,8.810000,9.034698,38.726559,0.491459,NaN,23.780001,5.620000,woreda1,4.100000
339,2017-01-05,76.610001,10.120000,9.034698,38.726559,1.148451,NaN,23.510000,9.490000,woreda1,5.100000
340,2017-01-06,62.970001,8.750000,9.034698,38.726559,1.054572,NaN,22.500000,12.280000,woreda1,4.100000
341,2017-01-07,42.770000,11.520000,9.034698,38.726559,0.458289,NaN,23.870001,4.730000,woreda1,3.100000
342,2017-01-08,65.680000,8.010000,9.034698,38.726559,0.380139,NaN,25.360001,4.930000,woreda1,3.100000
343,2017-01-09,62.689999,10.280000,9.034698,38.726559,0.494538,NaN,24.330000,4.430000,woreda1,3.600000
344,2017-01-10,59.029999,19.540001,9.034698,38.726559,0.454009,NaN,23.020000,6.670000,woreda1,4.600000
345,2017-01-11,68.889999,5.340000,9.034698,38.726559,0.000000,NaN,22.459999,11.690000,woreda1,5.100000
346,2017-01-12,84.040001,7.840000,9.034698,38.726559,0.352949,NaN,22.400000,13.680000,woreda1,3.600000
347,2017-01-13,79.930000,6.350000,9.034698,38.726559,0.402196,NaN,24.120001,9.600000,woreda1,2.600000
348,2017-01-14,83.739998,7.490000,9.034698,38.726559,0.797720,NaN,25.150000,11.030000,woreda1,2.600000
349,2017-01-15,74.180000,9.720000,9.034698,38.726559,0.000000,NaN,25.040001,11.900000,woreda1,3.100000
350,2017-01-16,55.459999,1.000000,9.034698,38.726559,0.558148,NaN,25.120001,12.860000,woreda1,4.600000
351,2017-01-17,47.860001,13.020000,9.034698,38.726559,0.522240,NaN,24.049999,13.500000,woreda1,4.100000
352,2017-01-18,67.300003,1.000000,9.034698,38.726559,0.386806,NaN,25.420000,12.270000,woreda1,4.100000
353,2017-01-19,66.830002,2.710000,9.034698,38.726559,0.000000,NaN,25.610001,7.790000,woreda1,3.600000
354,2017-01-20,72.169998,8.170000,9.034698,38.726559,0.288310,NaN,24.139999,7.250000,woreda1,3.100000
355,2017-01-21,69.599998,16.740000,9.034698,38.726559,0.000000,NaN,24.780001,13.020000,woreda1,3.600000
356,2017-01-22,59.410000,11.600000,9.034698,38.726559,0.000000,NaN,25.760000,8.190000,woreda1,4.600000
357,2017-01-23,62.810001,20.100000,9.034698,38.726559,0.000000,NaN,25.670000,7.020000,woreda1,4.100000
358,2017-01-24,62.939999,13.360000,9.034698,38.726559,0.000000,NaN,25.639999,7.060000,woreda1,4.600000
359,2017-01-25,61.520000,22.660000,9.034698,38.726559,0.279587,NaN,25.879999,10.290000,woreda1,5.100000
360,2017-01-26,59.080002,23.799999,9.034698,38.726559,0.000000,NaN,24.809999,12.700000,woreda1,3.600000
361,2017-01-27,56.540001,19.059999,9.034698,38.726559,0.000000,NaN,25.950001,12.570000,woreda1,3.100000
362,2017-01-28,67.150002,18.139999,9.034698,38.726559,0.000000,NaN,25.740000,13.420000,woreda1,3.100000
363,2017-01-29,80.870003,28.730000,9.034698,38.726559,0.000000,5486.000000,25.020000,10.380000,woreda1,3.600000
364,2017-01-30,85.930000,29.690001,9.034698,38.726559,0.000000,5932.000000,26.400000,8.800000,woreda1,4.100000
365,2017-01-31,68.750000,24.830000,9.034698,38.726559,0.000000,4659.000000,25.110001,10.220000,woreda1,3.100000
366,2017-02-01,79.870003,22.540001,9.034698,38.726559,0.000000,NaN,26.100000,9.340000,woreda1,5.100000